/*-----------------------------------------------------------------------------------

    [Table of contents]

    01. [Base (Global style for some elements)]
    02. [Style Section Name]
    03. [Style Section Name]
    04ز [Style Section Name]
    05. [Style Section Name]
    06. [Style Section Name]
    07. [Style Section Name]

-----------------------------------------------------------------------------------*/

/* -----------------------------------------------------------------
    Global style for some elements
--------------------------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Nunito Sans", sans-serif;
}
a {
  color: #000;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button,
button:focus,
input,
input:focus textarea,
textarea:focus {
  outline: none;
  border: none;
}

.k-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-box {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Extra small devices  */
@media (max-width: 575.98px) {
  .container-box {
    width: 100%;
    max-width: 400px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container-box {
    width: 540px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container-box {
    width: 750px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container-box {
    width: 970px;
  }
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .container-box {
    width: 1170px;
  }
}

/* -----------------------------------------------------------------
    Style Navbar
--------------------------------------------------------------------*/
nav .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  height: 100px;
  position: relative;
}
nav .nav .nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  nav .nav .nav-links {
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    border: 1px solid #eee;
    box-shadow: 1px 1px 3px #eee;
    z-index: 1;
  }
  nav .nav .nav-links.show {
    opacity: 0;
  }
}
nav .nav .nav-links li {
  padding: 0 16px;
}
@media (max-width: 991px) {
  nav .nav .nav-links li {
    font-size: 14px;
    padding: 0 8px;
  }
}
@media (max-width: 768px) {
  nav .nav .nav-links li {
    border-bottom: 1px solid #eee;
    width: 100%;
    text-align: center;
    padding: 13px;
    background-color: white;
  }
  nav .nav .nav-links li:hover {
    background-color: #f1f1f1;
  }
}

nav .nav .nav-links li:first-child > a,
nav .nav .nav-links li:last-child {
  position: relative;
}
nav .nav .nav-links li:first-child > a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: red;
}
nav .nav .nav-links li:last-child::after {
  font-family: "Font Awesome 5 Free";
  content: "\f101";
  font-weight: 900;
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
  color: #444;
}
@media (max-width: 768px) {
  nav .nav .nav-links li:last-child::after {
    display: none;
  }
}
nav .nav .nav-links li a {
  color: #444;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}
nav .nav .nav-links li a:hover {
  color: red;
}
nav .nav .nav-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  nav .nav .nav-icons .bar-icon {
    display: none;
  }
}
nav .nav .nav-icons li {
  padding-left: 15px;
}
nav .nav .nav-icons li a {
  color: #444;
  transition: all 0.5s ease-in-out;
}
nav .nav .nav-icons li a:hover {
  color: #888;
}

/* -----------------------------------------------------------------
    Style Latset Section
--------------------------------------------------------------------*/
.new-sec {
  padding: 20px 0;
}

.latest-sec {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.latest-sec .latest-new {
  padding: 20px;
  position: relative;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 40%,
    rgba(0, 0, 0, 0)
  );
  overflow: hidden;
}

.latest-sec .latest-new .new-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  transition: all 0.5s;
}

/* Hover on Latest New */
.latest-sec .latest-new:hover .new-image {
  transform: scale(1.08);
}

.latest-sec .latest-new .new-info {
  position: absolute;
  bottom: 20px;
  color: #fff;
  padding-right: 20px;
}

.latest-sec .latest-new .new-info .new-title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.latest-sec .latest-new .new-info .new-link {
  color: #fff;
  font-weight: 600;
  transition: all 0.5s;
}

.latest-sec .latest-new .new-info .new-link:hover {
  color: rgb(201, 201, 201);
}

.latest-sec .latest-new .new-info .new-category {
  padding: 0 15px;
  border-left: 2px solid red;
  font-weight: 600;
  color: #d3d3d3;
  transition: all 0.5s;
}

.latest-sec .latest-new .new-info .new-category:hover {
  padding-left: 25px;
  color: #fff;
}

.latest-sec .big-latest {
  flex-basis: 50%;
  padding: 0 10px;
}

.latest-sec .big-latest .latest-new {
  height: 400px;
}

.latest-sec .big-latest .new-info .new-title {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.latest-sec .big-latest .new-info .new-category {
  font-size: 1rem;
}

.latest-sec .more-latest {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.latest-sec .more-latest .latest-new {
  flex-basis: 46%;
  margin: 0 2%;
  height: 190px;
}

.latest-sec .more-latest .latest-new:first-child,
.latest-sec .more-latest .latest-new:nth-child(2) {
  margin-bottom: 10px;
}

.latest-sec .more-latest .latest-new:nth-child(3),
.latest-sec .more-latest .latest-new:nth-child(4) {
  margin-top: 10px;
}

.latest-sec .more-latest .new-info .new-category {
  font-size: 0.9rem;
  border-left-color: #47a1d8;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .latest-sec {
    flex-direction: column;
    align-items: flex-start;
  }

  .latest-sec .big-latest {
    flex-basis: 100%;
    width: 100%;
  }

  .latest-sec .big-latest .latest-new {
    height: 200px;
  }

  .latest-sec .big-latest .new-info .new-title {
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
  }

  .latest-sec .more-latest {
    flex-basis: 100%;
    width: 100%;
    padding-top: 0;
    padding: 10px;
  }

  .latest-sec .more-latest .latest-new {
    flex-basis: 100%;
    margin: 0;
    margin-top: 0 !important;
    margin-bottom: 15px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .latest-sec {
    flex-direction: column;
    align-items: flex-start;
  }

  .latest-sec .big-latest {
    flex-basis: 100%;
    width: 100%;
    margin-bottom: 1rem;
  }

  .latest-sec .more-latest {
    flex-basis: 100%;
    width: 100%;
    padding: 10px;
  }

  .latest-sec .more-latest .latest-new {
    flex-basis: 48%;
    margin: 0;
  }

  .latest-sec .more-latest .latest-new:nth-child(2),
  .latest-sec .more-latest .latest-new:nth-child(4) {
    margin-left: 4%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/* -----------------------------------------------------------------
    Style Footer Section
--------------------------------------------------------------------*/
.page-footer {
  background-color: #0e1e32;
  color: white;
}
.page-footer .footer-box {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 40px;
}
@media (max-width: 991px) {
  .page-footer .footer-box {
    position: relative;
  }
}
@media (max-width: 991px) {
  .page-footer .footer-box {
    display: block;
  }
}
.page-footer .footer-box .logo-copyright {
  text-align: center;
}
@media (max-width: 991px) {
  .page-footer .footer-box .logo-copyright {
    text-align: left;
  }
}
.page-footer .footer-box .logo-copyright p {
  color: #cccc;
  font-size: 15px;
  margin-top: 30px;
}
@media (max-width: 991px) {
  .page-footer .footer-box .logo-copyright p {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px;
    border-top: 1px solid #ccc;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .page-footer .footer-box .policy {
    margin-top: 30px;
  }
}
.page-footer .footer-box .policy li {
  margin-bottom: 8px;
  transition: all 0.5s ease-in-out;
}
.page-footer .footer-box .policy li:hover {
  transform: translateX(10px);
}
.page-footer .footer-box .policy li a {
  color: white;
}

.page-footer .footer-box .footer-links {
  display: flex;
  flex-direction: column;
}
.page-footer .footer-box .footer-links .page-sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .page-footer .footer-box .footer-links .page-sections {
    flex-direction: column;
    gap: 10px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
.page-footer .footer-box .footer-links .page-sections li a {
  color: white;
  transition: all 0.5s ease-in-out;
}
.page-footer .footer-box .footer-links .page-sections li a:hover {
  color: #ccc;
}
.page-footer .footer-box .footer-links .social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991px) {
  .page-footer .footer-box .footer-links .social-icons {
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
.page-footer .footer-box .footer-links .social-icons li a {
  color: white;
}
.page-footer .footer-box .footer-links .social-icons li a i {
  transition: all 0.5s ease-in-out;
}
.page-footer .footer-box .footer-links .social-icons li i.rss:hover {
  color: #f26522;
}
.page-footer .footer-box .footer-links .social-icons li i.twitter:hover {
  color: #1da1f2;
}
.page-footer .footer-box .footer-links .social-icons li i.reddit:hover {
  color: #ff4500;
}
.page-footer .footer-box .footer-links .social-icons li i.facebook:hover {
  color: #1877f2;
}
