/*-----------------------------------------------------------------------------------

    [Table of contents]

    01. [Base (Global style for some elements)]
    02. [navbar styles]
    03. [container sstyle]
    04ز [Style Section Name]
    05. [Style Section Name]
    06. [Style Section Name]
    07. [Style Section Name]

-----------------------------------------------------------------------------------*/

/* -----------------------------------------------------------------
    Global style for some elements
--------------------------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #e5e5e5;
}

a {
  color: #000;
  text-decoration: none;
}

button,
button:focus,
input,
input:focus textarea,
textarea:focus {
  outline: none;
  border: none;
}

/* -----------------------------------------------------------------
    Style Navbar
--------------------------------------------------------------------*/

header {
  background-color: #0e1e32;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  padding-bottom: 30px;
}

/* image container style */

.header-image img {
  width: 70%;
  height: 50vh;
  margin: auto 15%;
  position: absolute;
  top: 25vh;
}
/*  */
.related-blog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: auto 10%;
}
.box {
  width: 150px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  margin: 20px;
}
.box h3 {
  font-size: 16px;
  padding: 5px;
}
hr {
  width: 80%;
  margin: auto 10%;
}
.box > img {
  border-radius: 15px;
}

.social {
  /* background-color: #000; */
  display: flex;
  justify-content: space-;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.social img {
  width: 2rem;
}
